body {
    margin: 0;
}

.header {
    padding: 50px;
    text-align: center;
    background-color:#9900cc;
    border-bottom-style: solid;
    color: #7a00b8;
}

img {
    width: 500px;
}

input[type=text], select {
  width: 30%;
  padding: 5px 10px;
  margin: 10px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: block-box;
}


input[type=submit]:hover {
  background-color: #45a049;
}