<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/" method="POST">
  <label for="first_name">First Name: </label>
  <input type="text" name="first_name" id="first_name" required>
  <br>
  <label for="last_name">Last Name: </label>
  <input type="text" name="last_name" id="last_name" required>
  <br>
  <label for="major">Major: </label>
  <select name="major" id="major" required>
    <option value="#">Select a Major</option>
    <option value="computer_science">Computer Science</option>
    <option value="software_engineering">Software Engineering</option>
    <option value="business_administration">Business Administration</option>
    <option value="marketing">Marketing</option>
  </select>
  <br>
  <input type="submit" name="submit">

</form>

</body>
</html>