{% extends 'base.html' %}
{% block content %}
<div class="register-overlay">
    <form>
        <h1 class="regstration-header">Register Your Account: </h1>

        <!-- Enter Your First Name -->
        <div class="form-group">
             <label for="first_name">First Name: </label>
             <input type="first_name" class="form-control" id="first_name" placeholder="Enter your first name...">
        </div>

        <!-- Enter Your Last Name -->
        <div class="form-group">
            <label for="last_name">Last Name: </label>
            <input type="last_name" class="form-control" id="last_name" placeholder="Enter your last name...">
        </div>

        <label for="degree" class="form-label">Degree: </label>
        <input class="form-control" list="degrees" id="degree" placeholder="Choose your degree...">
        <datalist id="degree">
            {% for degree in degrees %}
            <option value="{{ degree }}">
            {% endfor %}
        </datalist>

        <label for="exampleDataList" class="form-label">Major: </label>
        <input class="form-control" list="majors" id="major" placeholder="Choose your major...">
        <datalist id="major">
            {% for major in majors %}
            <option value="{{ major }}">
            {% endfor %}
        </datalist>

        <div class="form-group">
            <label for="user_name">User Name: </label>
            <input type="last_name" class="form-control" id="user_name" placeholder="Enter your username...">
        </div>


        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password...">
        </div>

        <!-- Button Container -->
         <div class="button-continer">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
         </div>

        <!-- Button Container -->
        <div class="button-container">
            <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg">Back</a>
        </div>

      </form> 
</div>
{% endblock %}