{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-default" style="background-color: #7a00b8; border: 5px; border-radius: 0px;"">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">ECU Study Buddy</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="{{ url_for('find_your_buddy') }}">Find a Buddy</a></li>
        <li><a href="{{ url_for('find_your_group') }}">Find a Group</a></li>
        <li><a href="{{ url_for('my_buddies') }}">My Buddies</a></li>
    </ul>
</nav>
<div class="container">
    <h4>Welcome, {{ first_name }} !</h4>
    <p>Please click on <b>Find Your Buddy</b>, to work with a buddy.</p>
    <p>Please click on <b>Find Your Group</b>, to work with a group.</p>
    <p>Please click on <b>My Buddies</b>, to view your buddies.</p>
</div>
{% endblock %}

